/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Modak&family=Orbitron&display=swap');

#clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  text-align: center;
}

.clock{
	letter-spacing: 5px;
	color: #66ff99;
}

.clock2{
	letter-spacing: 5px;
	color: #fff;
}

											/* Rainbow */

  
  /* .rainbow {
	text-align: center;
	text-decoration: underline;
	font-size: 32px;
	font-family: monospace;
	letter-spacing: 5px;
	animation: colorRotate 6s linear 0s infinite;
  } */
  
  .rainbow {
	letter-spacing: 5px;
	animation: colorRotate 6s linear 0s infinite;
  }
  
  @keyframes colorRotate {
	from {
	  color: #6666ff;
	}
	10% {
	  color: #0099ff;
	}
	50% {
	  color: #00ff00;
	}
	75% {
	  color: #ff3399;
	}
	100% {
	  color: #6666ff;
	}
  }
  										/* Rainbow End */

html {
	font-size: 16px;
	background-color: #ededed;
}

.navbar {
	opacity: 0.8;
	border-bottom: 1px solid #fff;
}

.page{
  background-color: #ededed;
} 

.paged{
	background-color: #343a40;
  }

.yazi{
 color: #343a40;
}

.yazi:hover{
  color: #dc3545;
}

.yazi2{
	color: #fff;
}
   
.yazi2:hover{
	color: #dc3545;
}

.mousePointer{
	cursor: pointer;
}

.steam{
	color:#00adee;
}

.xbox{
	color:#0e7a0d;
}

.playstation{
	color:#0000ff;
}

.twitch{
	color:#8a3ab9;
}

.youtube{
	color:#ff0000;
}

.facebook{
	color:#4267B2;
}

.discord{
	color:#7289da;
}

.twitter{
	color:#1da1f2;
}

.telegram{
	color:#0088cc;
}

body{
	position: relative;
}

.purple{
	background-color: #520066;
}

.mt-t1{
	 margin-top: 300px;
}

.mt-t2{
	 margin-top: 600px;
}

.tx-t{
	color: #fff;
}

.tx-t:hover{
	color: #663300;
}

.bg-t{
	background-color: #1b1d20;
}

.bg-bt{
	background-color: #343a40;
}

.bg-wt{
	background-color:#f8f9fa;
}

.tx-wt{
	color: #fff;
}

.tx-bt{
	color: #343a40;
}

.imgo:hover{
	opacity: 0.9;
}

hr.lineb{
  border: 3px solid #343a40;
  border-radius: 5px;
}

hr.lineb:hover{
	opacity: 0.7;
}

hr.line {
  border: 3px solid #f8f9fa;
  border-radius: 5px;
}

hr.line:hover{
	opacity: 0.7;
}

#exit1:hover{
	opacity: 0.5;
}

#exit2:hover{
	opacity: 0.5;
}

#exit3:hover{
	opacity: 0.5;
}

.mybb:hover{
	opacity:0.6;
}

.opa:hover{
	opacity:0.7;
}